<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>DAGDA-UI</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="static/css/starter-template.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/jquery.dataTables.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
      var APIHOST = localStorage.getItem('DAGDA_URL');
    </script>

    {% block script %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DAGDA-UI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation" class="{% block nav_docker %}{% endblock %}"><a href="/docker"><i class="fa fa-cubes"></i>&nbsp;Docker</a></li>
            <li role="presentation" class="{% block nav_monitor %}{% endblock %}"><a href="/monitor"><i class="fa fa-eye"></i>&nbsp;Monitor</a></li>
            <li role="presentation" class="{% block nav_reports %}{% endblock %}"><a href="/reports"><i class="fa fa-file"></i>&nbsp;Reports</a></li>
            <li role="presentation" class="{% block nav_vulndb %}{% endblock %}"><a href="/vulndb"><i class="fa fa-database"></i>&nbsp;VulnDB</a></li>
          </ul>
          <ul class="nav navbar-nav" style="float: right">
            <li class="{% block nav_settings %}{% endblock %}"><a href="/settings" class="navbar-nav pull-right"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        {% block body %}{% endblock %}
      </div>
    </div>

  </body>
</html>
