{% extends "base.html" %}
{% block nav_monitor %}active{% endblock %}
{% block script %}
<script>

$(document).ready(function() {
})

</script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
          <div class="panel-heading"><strong>Monitor</strong></div>
          <div class="panel-body">
            <div class="text-center">Monitor mode viewer not supported yet!</div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
