{% extends "base.html" %} {% block nav_vulndb %}active{% endblock %} {% block script %}
<script>
    function searchVulnDB() {
        var type = $('select[name=search-type]').val();
        var query = $('input[name=search-term]').val();
        var query_prod = query
        query = query.replace('BID-', '');
        if (query.includes(":") && !query.includes("RHBA") && !query.includes("RHSA")) {
            query = query.split(":")[0] + '/' + query.split(":")[1];
        }
        $('#searchresults').DataTable({
            destroy: true,
            sorting: true,
            searching: true,
            "order": [
                [2, "desc"]
            ],
            info: true,
            "ajax": {
                "url": APIHOST + "/vuln/" + type + '/' + query,
                "dataSrc": function(json) {
                    results = [];
                    switch (type) {
                        case 'products':
                            if (query_prod.includes(":")) {
                                var product = query_prod.split(":")[0];
                                var version = query_prod.split(":")[1];
                            } else {
                                var product = query_prod;
                                var version = "";
                            }
                            for (object of json) {
                                result = {};
                                result['product'] = product;
                                result['version'] = version;
                                result['vulnerabilities'] = get_key(object);
                                result['details'] = generate_details(extract_type(result['vulnerabilities'].toString()),
                                                                     extract_query(result['vulnerabilities'].toString()));
                                results.push(result);
                            }
                            break;
                        case 'bid':
                            for (code of json) {
                                result = {};
                                result['product'] = code['product'];
                                result['version'] = code['version'];
                                result['vulnerabilities'] = "BID-" + query;
                                result['details'] = generate_details(type, query);
                                results.push(result);
                            }
                            break;
                        case 'cve':
                        case 'exploit':
                        case 'rhba':
                        case 'rhsa':
                            for (code of json) {
                                result = {};
                                result['product'] = code['product'];
                                result['version'] = code['version'];
                                result['vulnerabilities'] = query;
                                result['details'] = generate_details(type, query);
                                results.push(result);
                            }
                            break;
                    }
                    return results;
                },
                error: function (xhr, error, thrown) {
                  alert('no results found');
                }
            },
            "columns": [{
                "data": "product",
                "className": "text-left"
            }, {
                "data": "version",
                "className": "text-left col-xs-1"
            }, {
                "data": "vulnerabilities",
                "className": "text-left col-xs-7"
            }, {
                "data": "details",
                "orderable": false,
                "className": "text-center"
            }]

        });
    }

    function get_key(object) {
        return Object.keys(object);
    }

    function extract_type(key) {
        if (key.startsWith("BID-")) {
            return 'bid';
        }
        else if (key.startsWith("CVE-")) {
            return 'cve';
        }
        else if (key.startsWith("RHBA-")) {
            return 'rhba';
        }
        else if (key.startsWith("RHSA-")) {
            return 'rhsa';
        }
        else {
            return 'exploit';
        }
    }

    function extract_query(key) {
        if (key.startsWith("BID-")) {
            return key.replace('BID-', '');
        }
        else if (key.startsWith("CVE-") || key.startsWith("RHBA-") || key.startsWith("RHSA-")) {
            return key;
        }
        else {
            return key.replace('EXPLOIT_DB_ID-', '');
        }
    }

    function get_vulnerability_details(type, query, id) {
        $.ajax({
          type: 'GET',
          dataType: "json",
          url: APIHOST + "/vuln/" + type + '/' + query + '/details',
          success: function(response) {
              response = response[0];
              var rows = '';
              var keys = get_key(response);
              for (var i = 0; i < keys.length; i++) {
                    rows = rows + '<tr>' +
                       '             <th>' + keys[i] + '</th>' +
                       '             <td>' + response[keys[i]] + '</td>' +
                       '         </tr>';
              }
              $('#' + id + '-table').html(' <tbody>' + rows + ' </tbody>');
          }
        });
        return '<table id="' + id + '-table" class="table"></table>';
    }

    function generate_details(type, query){
        var header = ' vulnerability details';
        var id = 'myModal'
        if(type === 'bid') {
            header = 'BID-' + query + header;
            id = id + 'BID-' + query;
        }
        else if (type === 'cve') {
            header = query + header;
            id = id + query;
        }
        else if (type === 'rhba' || type === 'rhsa') {
            header = query + header;
            id = id + query.replace(':', '-');
        }
        else {
            header = 'EXPLOIT_DB_ID-' + query + header;
            id = id + 'EXPLOIT_DB_ID-' + query;
        }
        var body = get_vulnerability_details(type, query, id)
        return '  <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#' + id + '"><i class="fa fa-eye"></i>&nbsp;Details</button>' +
               '   <!-- Modal -->' +
               '   <div class="modal fade" id="' + id + '" role="dialog">' +
               '     <div class="modal-dialog">' +
               '       <!-- Modal content-->' +
               '       <div class="modal-content">' +
               '         <div class="modal-header">' +
               '           <button type="button" class="close" data-dismiss="modal">&times;</button>' +
               '           <h4 class="modal-title">' + header + '</h4>' +
               '         </div>' +
               '         <div class="modal-body">' +
               '           <p>' + body + '</p>' +
               '         </div>' +
               '         <div class="modal-footer">' +
               '           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
               '         </div>' +
               '       </div>' +
               '     </div>' +
               '   </div>';
    }

    $(document).ready(function() {
      if (APIHOST === '') {
        alert('error getting information from DAGDA!\nCheck host information on Settings');
        window.location.replace("/settings");
      }
      $('select[name=search-type]').on('change', function(e) {
          var selText = $(this).val();
          $('input[name=search-term]').val("");
          switch (selText) {
              case 'cve':
                  $("input.search-term").attr('placeholder', 'Format: CVE-XXXX-XXXX');
                  break;
              case 'bid':
                  $("input.search-term").attr('placeholder', 'Format: BID-XXXXX');
                  break;
              case 'exploit':
                  $("input.search-term").attr('placeholder', 'Format: XXXXXX');
                  break;
              case 'products':
                  $("input.search-term").attr('placeholder', 'Format: <NAME>[:<VERSION>]');
                  break;
              case 'rhba':
                  $("input.search-term").attr('placeholder', 'Format: RHBA-XXXX:XXXX');
                  break;
              case 'rhsa':
                  $("input.search-term").attr('placeholder', 'Format: RHSA-XXXX:XXXX');
                  break;
          }
      });
    });
</script>
{% endblock %} {% block body %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>VulnDB Search</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-3">
                            <form class="form-horizontal" role="search">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <select ng-model="info.search_type" class="form-control" name="search-type">
                                   <option disabled selected value>Search by</option>
                                   <option value="products" selected>Product</option>
                                   <option value="cve">CVE</option>
                                   <option value="bid">BID</option>
                                   <option value="exploit">Exploit-DB</option>
                                   <option value="rhba">RHBA</option>
                                   <option value="rhsa">RHSA</option>
                                 </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="search-term" class="form-control search-term" placeholder="Search for...">
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-search btn-default" onclick="searchVulnDB()">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <table id="searchresults" class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Version</th>
                                        <th>Vuln ID</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
